<html>
       <head> Test Page </head>
       <body> 
       <h1> Welcome to Test Page </h1>
       <h2> Personal Information </h2>
       <h3>Name: {{name}}</h3>
<h3>Age: {{age}}</h3>
<h3>City: {{city}} </h3>
<h3>State: {{state}}</h3>
<h3>Education: {{edu}}</h3>
<h3>Email: {{email}}</h3>       
</html>
